/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --rainbow-green: #265C4B;
    --transparent-green: #146551;
    --classy-green: #007566;
    --pale-green: #589A8D;
    --royal-lemon: #DAFDBA;
    --hot-royal-lemon: #9AEBA3;
    --dark-blue: #012030;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
  }
  
  /* border box model: https://css-tricks.com/box-sizing/ */
  
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
/* generic styles for the page */
body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}
h1,
h2,
h3 {
    margin: 0;
}
a {
    color: var(--magenta);
}

a:hover {
    color: var(--hotmag);
    text-decoration: none;
}

/*background color style*/
.gradient{   
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(134,251,251,1) 100%);
height: 2px;
}

.section-color{
    background-color: var(--dkblue);
}
.background-color{
    background-color: var(--plum);
}
/* intro styles */
#intro {
    padding: 4rem 1rem 10rem 1rem;;
    max-width: 1200px;
    margin: 0 auto; 
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--mono);
    font-size: 1rem;
}

.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
    font-weight: 300;
}

#intro h2 {
    font-size: 4rem;
}

/* contact section */

#contact{
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
    height: 5%
  }
  
#contact-me .contact{
    font-weight: bolder;
  }
  
#contact-me .me{
    font-size: 0.8rem
  }
  
#contact-me .mail{
    font-size: 1rem;
    color: var(--dark-blue);
  }
  
#contact-me .mail:hover {
    color: var(--pale-green);
    text-decoration: none;
  }

/*Navbar*/
#navbar{
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
    
  
}

#navbar ul{
  display: flex;
  padding: 0;
  margin: 0;
  flex-flow:row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
}

#navbar h1 a{
  font-family: var(--sans);
  color: var(--white);
  
}
#navbar .logo{
  padding: 0 0.5rem;
    
}

#navbar [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua)
}

#navbar h1 [class*="fa-"]{
  font-size: 100%;
  color: var(--aqua)
}

#navbar li:first-child{
  flex-basis: 100%;
  text-align: center;
 
    
  
}
#navbar a{
  text-decoration: none;
  font-size: 20px;
  color: var(--white);
  display: block;
 }

#navbar a:hover{
  color: var(--magenta)
}


#navbar ul li {
  list-style-type: none;
}
 
#navbar [class*="fa-"]:hover{
  color: var(--magenta)
}

.button{
  background-color: var(--magenta);
  padding: 0.5rem;
  border-radius: 5px;
  color: var(--white);
  text-decoration: none;
  font-family: var(--mono);
}

.button:hover {
  color: var(--white);
  background-color: var(--hotmag);
}

#project {
 padding: 4rem 1rem;
}

#project h2{
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5)
}

#project h3{
    color: var(--aqua);
}

.blackbox{
    background-color: var(--black);
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--white);
    line-height: 1.5;
}

#project ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
}
#project h4{
    font-size: 1rem;
    color: var(--mono);
    margin: 0;
}

#project img{
    margin: 2rem 0 4rem 0;
    border-left: 1px solid var(--aqua);
    border-top: 1px solid var(--aqua);
    border-radius: 25px;
    padding: 1rem;

}

@media(min-width: 850px){
  #navbar{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #navbar li:first-child{
  flex-basis: auto;
  text-align: left;
  margin-right: auto;
 }
  
}


  
  footer{
    text-align: center;
    color: var(--white);
    padding: 4rem 0;
  }
  
  footer h2{
    font-size: 100%;
  }
  
  footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    margin: 2rem 0;
    padding: 0;
    flex-flow: row wrap;
    gap: 3rem;
    font-size: 3rem
  }
  

  